{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
